.logo {
display: flex;


}

.img-logo{
    display: flex;
    align-items: center;
    width: 50px;
    margin-right: 10px;
    
}

.brand{
    display: flex;
    font-size: 30px;
    align-items: center;
    font-family: 'PMingLiu-Extb';
    /* color: #05023a;s */
    color: #837cfb;
}